.Home{
    margin: 0 auto;
    height: 75vh;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Home-left{
    flex: 0.55;
    height: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Home-head {
    font-size: 5rem;
    font-weight: lighter;
    font-family: var(--logo-font);
}
.head-code{
    color: #ff6634;
}
.Home-right{
    flex: 0.45;
    height: 100%;
    object-fit: contain;
}
.Home-right>img {
    width: 100%;
}