.Navbar{
    margin: 0 auto;
    height: 15vh;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}
.Navbar-Logo{
    flex: 0.2;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    object-fit: contain;
}
.pigshell-logo{
    height: 70%;
    object-fit: contain;
}
.Navmenu{
    flex: 0.7;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 1.2rem;
    font-weight: 400;
    align-items: center;
    font-family: var(--heading-font);
}
.Login-Btn{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    width: 8rem;
    height : 50%;
    box-sizing: border-box;
    font-weight: 400;
    color: var(--default-background);
    background: var(--button-color);
    border : none;
    border-radius: 5px;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
}
.Login-Btn:hover{
    cursor: pointer;
}
.Nav-Sandwich{
    display: none;
}
.Dropdown{
    display: none;
}
@media screen and (max-width : 830px) {
    .Navmenu{
        display: none;
    }
    .Nav-Sandwich{
        flex: 0.4;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex-direction: column;
        max-width: 120px;
    }
    .Sandwich{
        height: 4px;
        border-radius: 3px;
        background-color: var(--default-color);
    }
    .Layer-1{
        width: 45%;
        margin-bottom: 7px;
    }
    .Layer-2{
        width: 30%;
    }
    .Dropdown{
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: -120vw;
        z-index: 10;
        height: 100vh;
        width: 60vw;
        min-width: 475px;
        background: var(--default-logo);
        transition: all 1s ease-in-out;
    }
    .Dropdown-opened {
        right: 0;
    }
    .Drop-item{
        width: 100%;
        flex: 0.25;
        color: var(--default-background);
        font-weight: 400;
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .Drop-close {
        position: absolute;
        width: 50px;
        height: 50px;
        top: 3.5%;
        left: 3%;
    }
    .cross {
        position: inherit;
        width: 70%;
        height: 3px;
        border-radius: 2px;
        background-color: var(--default-background);
    }
    .cross-left{
        transform: rotate(-45deg);
    }
    .cross-right{
        transform: rotate(45deg);
    }
    .Drop-Login{
        width: 70%;
        height: 40%;
        border: 2px solid var(--default-background);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .Drop-Login:hover{
        cursor: pointer;
    }
}
