@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Overlock&family=Rubik+Glitch&family=Yatra+One&display=swap');

:root{
  --logo-font : 'Rubik Glitch', cursive;
  --default-font : 'Overlock', cursive;
  --heading-font : 'Yatra One', cursive;
  --code-font : 'Fira Code', monospace;
  --default-background : #212026;
  --default-color : #CCCCCC;
  --default-code : #06ef40;
  --default-logo : #f47b7b;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--default-background);
  color: var(--default-color);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


